@model W2_D5_Progetto_Settimanale_Andrea_Guarnieri.Models.Product

@{
    ViewData["Title"] = "Product Details";

    // Funzione per formattare la descrizione del prodotto
    string FormatDescription(string description)
    {
        if (string.IsNullOrEmpty(description))
            return string.Empty;

        var parts = description.Split(',');
        var formattedDescription = new System.Text.StringBuilder();

        foreach (var part in parts)
        {
            var subParts = part.Split(':');
            if (subParts.Length == 2)
            {
                // Formatta ogni parte della descrizione con il testo in grassetto prima dei due punti e il testo normale dopo
                formattedDescription.AppendFormat("<strong>{0}:</strong> {1}<br />", subParts[0].Trim(), subParts[1].Trim());
            }
            else
            {
                // Aggiunge la parte della descrizione non formattata
                formattedDescription.AppendFormat("{0}<br />", part.Trim());
            }
        }

        return formattedDescription.ToString();
    }

    // Formatta la descrizione del prodotto
    var formattedDescription = FormatDescription(Model.Description);
}

<div class="container mt-5 product-details">
    <div class="row">
        <!-- Colonna per l'immagine principale del prodotto -->
        <div class="col-md-3">
            <img src="~/@Model.MainImage" class="img-fluid mb-3" alt="@Model.Name" style="max-height: 400px; object-fit: cover;">
        </div>
        <!-- Colonna per i dettagli del prodotto -->
        <div class="col-md-6 d-flex flex-column justify-content-start description mt-0">
            <h2>@Model.Name</h2>
            <p class="price">@Model.Price.ToString("C")</p>
            <p>@Html.Raw(formattedDescription)</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <!-- Sezione per le immagini aggiuntive del prodotto -->
            <div class="additional-images d-flex">
                <img src="~/@Model.AdditionalImage1" class="img-thumbnail mr-2" alt="@Model.Name" style="max-height: 200px; object-fit: cover;">
                <img src="~/@Model.AdditionalImage2" class="img-thumbnail" alt="@Model.Name" style="max-height: 200px; object-fit: cover;">
            </div>
        </div>
    </div>
</div>
