@model IEnumerable<W2_D5_Progetto_Settimanale_Andrea_Guarnieri.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<!-- Contenitore principale per la visualizzazione dei prodotti -->
<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model)
        {
            <!-- Colonna per ciascun prodotto -->
            <div class="col-md-4">
                <!-- Card per visualizzare i dettagli del prodotto -->
                <div class="card mb-4 shadow-sm d-flex flex-column">
                    <!-- Immagine principale del prodotto -->
                    <img src="@product.MainImage" class="card-img-top" alt="@product.Name">
                    <!-- Corpo della card contenente i dettagli del prodotto -->
                    <div class="card-body d-flex flex-column justify-content-between" style="flex-grow: 1;">
                        <!-- Sezione contenente il nome e il prezzo del prodotto -->
                        <div>
                            <h5 class="card-title" style="color: black;">@product.Name</h5>
                            <p class="card-text" style="color: black;">@product.Price.ToString("C")</p>
                        </div>
                        <!-- Pulsante per visualizzare i dettagli del prodotto -->
                        <a href="@Url.Action("Details", new { id = product.Id })" class="btn btn-primary mt-auto">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
